body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(239, 239, 242);
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 .card{
    background: #547279;
    padding: 30px;
    margin-bottom: 10px;
    margin: 10px;
    border: #0d0d0e;
    border-radius: 30px;
    width: 400px;
 }
 h1{
    text-align: center;
    color: #091152;
 }

 form{
   padding: 10px;
   display: flex;
   flex-direction: column;
 }

 .sameline{
 }

 button{
   background: #705454;
   border-radius: 20px;
   width: 100px;
   padding: 15px;
   font-weight: bolder;
   display:inline-flexbox;
}

 input{
   margin-bottom: 20px;
   padding: 10px;
   border-radius: 8px;
   border: rgb(90, 87, 87) solid 3px;
   color:#0d0d0e;
}

button:hover{
   background-color: aqua;
}

.button-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

