
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sevillana&display=swap');



h1{
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: italic;
  font-size:50px;
}

h2{
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: italic; 
}

.flex-container{
    display: flex;
    margin-bottom: 20px;
    height: 200px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 5px;
    font-size: 20px;
}

.pastel-1{
    background: #60e84b;
}

.pastel-2{
    background: #dedc33;
}

.pastel-3{
    background: #9e7090;
}

.pastel-4{
    background: #524195;
}

.pastel-5{
    background: #6d3d3f;
}